:root {
  font-family: Inter, sans-serif;
  font-weight: 400;

  --looton-black: #000;
  --looton-white: #FFF;
  --looton-bgr-grey: #F8F8F8;
  --looton-green: #40F988;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--looton-bgr-grey);
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

button {
  cursor: pointer;
}

.text_large {
  white-space: pre;
  font-size: 6rem;
  margin-bottom: 0.6em;
}

.screen {
  display: flex;
  justify-content: center;
  align-items: start;
}

.screen-content-wrapper_centred, .screen-content-wrapper_left {
  display: flex;
  flex-direction: column;
  width: min(110rem, 80vw);
  justify-content: center;
  align-items: center;
}

.screen-content-wrapper_left {
  align-items: start;
}

.main-screen {
  height: clamp(80rem, 100vh, 90rem);
  background-color: var(--looton-black);
  border-radius: 0 0 30px 30px;
  overflow: hidden;
  padding-top: clamp(14px, 1.5%, 4rem);
}

.main-screen__cta-button-container {
  width: fit-content;
  /* height: 7rem; */
}

.header {
  /* width: 100%; */
  width: min(110rem, 80vw);
  height: clamp(45px, .8vh, 10rem);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* gap: 45rem; */
}

.header__right-part-container {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  width: auto;
  padding: .54em 2.1em;
  /* padding: 0.56em 2.1em; */
  border-radius: 50px;
  border: 2px solid var(--looton-green);
}

.page-navigation {
  display: flex;
  flex-direction: row;
  gap: 1.875em;
}

.page-navigation__item {
  cursor: pointer;
  letter-spacing: -0.0352rem;
  font-weight: 500;
  color: #A1A5AB;
  text-decoration: none;
  
}

.page-navigation__item:hover {
  color: var(--looton-white);
}

.button_white {
  color: var(--looton-black);
  background-color: var(--looton-white);
}

.button_medium {
  border-radius: 4rem;
  font-size: 1.8rem;
  padding: .55em 1.38em;
  border: 1px solid transparent;
  display: flex;
  gap: 0.83em
}

.main-screen__content {
  height: 50rem;
  width: min(110rem, 80vw);
  display: flex;
  justify-content: space-between;
  /* gap: 135px; */
  margin-top: clamp(90px, 14vh, 150px);
}

.screen-content__header-description-container {
  display: flex;
  flex-direction: column;
}

.main-screen__content__left {
  width: 65rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 6.5rem;
}

.screen-content__left-part {
  display: flex;
  flex-direction: column;
  gap: 7rem;
  height: 100%;
}

.text-bold_grey-gradient {
  background: -webkit-linear-gradient(0.50turn, #E2E2E2, #BCBCBC, #E8E8E8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-weight: 600;
  line-height: 110%;
}

.page-description {
  font-size: 2.2rem;
  font-weight: 400;
  letter-spacing: -0.024rem;
  white-space: pre;
}

.text_grey {
  color: #E2E2E2;
}

.page__cta-button {
  text-decoration: none;
  width: auto;
  display: flex;
  align-items: center;

  border-radius: 4rem;
  border: 1px solid transparent;
}

.button_large {
  /* height: 7rem; */
  font-size: 3rem;
  padding: .6em 1.6em;
  gap: .83em;
  line-height: 100%;
}

.page__cta-button:hover {
  transition: padding .3s;
  transform: scale(1.03);
}

.page__cta-button:hover .arrow {
  transform: rotate(45deg);
  transition: transform .2s ease-in-out;
}

.button_large .arrow, .button_medium .arrow {
  width: .66em;
}

.arrow > * {
  width: 100%;
}

.page__cta-button_gradient {
  color: var(--looton-black);
  background: linear-gradient(90deg, var(--looton-green) 58.5%, #23F7D1 100%), linear-gradient(90deg, var(--looton-green) 0%, #51D6A8 100%);
}

.looton-screen-wrapper img {
  width: 35rem;
}

/* Screen 2 */

.profits-screen, .instructions-screen {
  background-color: var(--looton-bgr-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
}

.page-header {
  font-size: 5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.1rem;
  white-space: pre;
  margin: 0 0 4rem;
}

.caption-chip, .caption-chip_with-arrow, .caption-chip_white {
  font-size: 1.4rem;
  border-radius: 1.78em;
  border: 2px solid var(--looton-black);
  padding: .35em 1.07em;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 17.6px */

  width: fit-content;
  margin-bottom: 1.78em;
}

.caption-chip_with-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .71em;
}

.caption-chip_with-arrow .arrow {
  height: .71em;
  width: .71em;
}

.caption-chip_white {
  border: 2px solid var(--looton-white);
  color: var(--looton-white);
}

.profit-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* display: flex; */

  font-size: 1rem;
  max-width: 120rem;
  gap: 1.5em;
  justify-content: stretch;
  margin-top: 2em;
}

.profit-cards-container__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  background: var(--looton-white);
  border-radius: 2em;
  padding: 2.5em;
  height: 20em;
  flex-grow: 1
  
  /* font-size: 2rem;
  min-height: 20rem;
  border-radius: 2rem;
  background: var(--looton-white);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

.profit-cards-container__card:hover, 
.profits-customer-grid__card:hover, 
.instructions-grid__card:hover  {
  filter: drop-shadow(0 4px 10px #F0EFEF);
}

.profit-card__header-icon-container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.profit-card__content__header {
  /* ?? */
  /* font-size: 2.4rem; */
  font-size: 2.4em;
  font-weight: 500;
  line-height: 110%;
  /* ?? */
  /* letter-spacing: -0.005em; */
  /* white-space: pre; */
  white-space: pre-wrap;
}

.profit-card__content__icon {
  /* display: flex; */
  width: 5em;
  min-width: 5em;
  height: 5em;
}

.profit-card__content__icon img {
  width: 100%;
  height: 100%;
}

.profit-card__description {
  font-size: 18em;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -0.003em;
  max-width: 97%;
}

/* Screen 3 */

.profits-customer-grid {
  font-size: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 24em);
  max-height: 76rem;
  gap: 1.5em;
  justify-content: stretch;
  margin-top: 2em;
}

.profits-customer-grid__card {
  border-radius: 2em;
  background-color: var(--looton-black);
  overflow: hidden;
}

.profit-customer-card__header {
  font-size: 3em;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.057em;
  margin-bottom: 2.5em;
  white-space: pre;
}

.profit-customer-card__header-description-container {
  padding: 2.5em;
  /* position: relative;
  z-index: 1; */
}

.customer-profit_safe-deal, .customer-profit_cdek-delivery, .customer-profit_online-support {
  background-color: var(--looton-black);
  color: var(--looton-white);
}

.profit-customer-card__image-container {
  /* width: 100%; */
  max-width: 28em;

  height: 100%;
  object-fit: contain;
}

.profit-customer-card__image-container > * {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.safe-deal__cube {
  transform: rotate(-22deg);
  margin-left: -3em;
}

.cdek__cube {
  /* width: 70%; */
  transform: rotate(30deg) scale(0.7);
  margin-left: 3em;
  margin-top: -1em;
}

.customer-profit_real-reviews, .customer-profit_original-check {
  padding: 2.5em;
  background-color: var(--looton-white);
  color: var(--looton-black);
}

.customer-profit_safe-deal {
  display: flex;
  gap: 1em;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

.customer-profit_real-reviews {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

.customer-profit_original-check {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}

.customer-profit_cdek-delivery {
  display: flex;
  gap: 1rem;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

.customer-profit_online-support {
  padding: 2.5em;
  display: flex;
  justify-content: space-between;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
}

.online-support__chat-container {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  width: 71rem;
  height: 100%;
}

.online-support__chat-participant {
  display: grid;
  gap: 0.7rem;
  min-height: 80px;
}

.online-support__chat-participant_left {
  grid-template-columns: 6rem 28.5rem;
}

.online-support__chat-participant_right {
  justify-content: end;
  grid-template-columns: 28.5rem 6rem;
  float: right;
}

.online-support__chat-participant {
  color: var(--looton-black);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.026rem;
}

.online-support__chat-participant .avatar {
  border-radius: 100%;
  width: 4.28em;
  height: 4.28em;
}

/* .dialog {
  height: 80px;
} */

 .dialog__left, .dialog__right {
  width: 100%;
  height: 100%;
}

.dialog__left {
  background: url("public/pictures/dialog-shape.svg") no-repeat;
  /* background-size: scale(0.7) scale(0.7); */
  padding-left: 3em;
  padding-right: 2em;
}

.dialog__right {
  float: right;
  background: url("public/pictures/green-dialog-shape.svg") no-repeat;
  padding-right: 3em;
  padding-left: 2em;
}

.avatar img {
  border-radius: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Screen 4 */
.customer-seller-toggle-container {
  display: flex;
  gap: 1rem;
  justify-content: left;
  margin-bottom: 2.5rem;
}

.chip-customer-seller-toggle {
  border-radius: 2.5rem;
  border: 2px solid var(--looton-black);
  padding: 0.5rem 1.5rem;
  text-align: center;
  font-size: 1.4rem;
  line-height: 110%; /* 17.6px */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: transparent;
}

.chip-customer-seller-toggle .arrow {
  width: 1rem;
  height: 1rem;
}

.chip-customer-seller-toggle__checked {
  background-color: var(--looton-black);
  color: var(--looton-white);
}

.chip-customer-seller-toggle__checked .arrow {
  display: none;
}

.instructions-grid { 
  font-size: 1rem;
  max-height: 77.5em;
  display: grid;
  gap: 1.5em;
  grid-template-rows: repeat(2, 38em);
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2em;
}

.instructions-grid__card {
  color: var(--looton-black);
  background-color: var(--looton-white);
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
  letter-spacing: -0.044rem;
  border-radius: 2em;
  padding: 2.5em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.instructions-grid__card:nth-child(even) {
  background-color: var(--looton-green);
}

.instructions-grid__card__header-id-container {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  width: 100%;
  font-size: 1rem;
}

.card-title {
  font-size: 2.7em;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 30px */
  letter-spacing: -0.057em;
  /* white-space: pre; */
}

.instructions-grid__card__header-id-container .card-title, 
.profits-customer-grid__card .card-title {
  max-width: 60%;
  word-break: normal;
  white-space: pre;
  word-wrap: break-word
}

.instructions-grid__card__id {
  font-size: 4.5em;
  font-style: normal;
  font-weight: 400;
  line-height: 80%; /* 40px */
  letter-spacing: -0.11rem;
}

.card-description {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
  letter-spacing: -0.044rem;
  width: 97%;
}

/* Screen brands */

.brands-screen {
  background-color: var(--looton-bgr-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 13rem;
}

.caption-chip__with-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.caption-chip__with-arrow .arrow {
  width: 1rem;
  height: 1rem;
}

.ticker-container {
  width: 100%;
  margin-top: 3.5rem;
  margin-bottom: 15rem;
  display: flex;
  flex-direction: column;
  gap: 5rem
}

.ticker-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 6rem;
}

.ticker-wrapper:before,
.ticker-wrapper:after {
  content: "";
  height: 100%;
  top: 0;
  width: 10%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.ticker-wrapper:before {
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(248, 248, 248, 1) 0%,
    rgba(248, 248, 248, 0) 100%
  );
}

.ticker-wrapper:after {
  right: 0;
  background: linear-gradient(
    90deg,
    rgba(248, 248, 248, 0) 0%,
    rgba(248, 248, 248, 1) 100%
  );
}

.ticker__items {
  flex-shrink: 0;
  display: flex;
  gap: 6rem;
  justify-content: space-around;
  min-width: 100%;
}

.ticker__item {
  flex: 0 0 auto;
  height: 3rem;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  transition: all 0.1s ease-in-out;
}

.ticker__item img {
  height: 100%;
} 

.marquee {
  animation: run-ticker 10s linear infinite;
}

.ticker_reverse {
  animation: run-ticker_reversed 10s linear infinite;
}

@keyframes run-ticker {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-2350px);
  }
}

@keyframes run-ticker_reversed {
  from {
    transform: translateX(-1400px);
  }
  to {
    transform: translateX(0);
  }
}

/* Screen blog */

.blog-screen {
  padding: 0 3rem;
  background-color: var(--looton-white);
  border-radius: 30px;
  height: 42rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("public/pictures/white-cube.png"), 
  url("public/pictures/white-cube-upturned.png");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom -15rem left 5%, top 1% right 5%;
  background-size: auto 48rem, auto 37rem;

  position: relative;
  z-index: 1;
}

.blog-screen-bgr {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: start;
}

.blog-screen__content__header-description-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.blog-screen__content__header-description-wrapper .page-header {
  margin: 0;
}

.blog-screen__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 7rem;
}

.page__cta-button_black {
  background-color: var(--looton-black);
  color: var(--looton-white);
}

svg {
  fill: currentColor;
}

/* Screen 6 */

.download-screen {
  margin-top: -3rem;
  background-color: var(--looton-black);
  padding-top: 14rem;
  /* max-height: 55rem; */
  overflow: hidden;
  /* display: grid;
  grid-template-columns: 0.7fr 0.3fr; */
}

.download-screen__content {
  height: 45rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  /* gap: 10em; */
}

.application-screen-container, .application-screen-container_medium {
  /* width: 390px; */
  width: clamp(260px, 42%, 390px);
  background-color: var(--looton-black);
  border-radius: 50rem;
  /* height: 80%; */
  box-shadow:
  0 0 50px 5px #313030,  /* inner white */
  0 0 100px 5px #272727
}

.application-screen-container_medium {
  width: 260px;
}

.application-screen-container .application-screen, 
.application-screen-container_medium .application-screen {
  width: 100%;
}

.text_medium {
  font-size: 5rem;

  font-weight: 600;
  line-height: 110%;
  letter-spacing: -0.15rem;
  white-space: pre;
}

.download-screen__left {
  /* max-width: 70rem; */
  display: flex;
  /* flex-grow: 1.7fr; */
  flex-direction: column;
  align-items: start;
  justify-content: start;
  /* padding-bottom: 14rem; */
}

.download-screen__buttons-container {
  display: flex;
  gap: 3rem;
  /* margin-top: 5.5rem; */
  height: 7rem;
}

.a-tag_cta {
  height: 1.1em;
}

/* Screen main form */
.screen-launch-form {
  scroll-behavior: smooth;
  background-color: var(--looton-bgr-grey);
  padding: 8rem 0;
  display: flex;
  justify-content: center;
  align-content: center;
}

.screen-launch-form__container {
  height: 100%;
  width: 100%;
  max-width: 128rem;

  background-image: url("public/pictures/white-cube-upturned.png"), 
  url("public/pictures/white-cube.png"), 
  url("public/pictures/white-cube-upturned.png"), linear-gradient(90deg, #40F988 58.5%, #23F7D1 100%);
  background-repeat: no-repeat, no-repeat, no-repeat, repeat;
  background-blend-mode: darken;
  background-position: top -25rem right -10rem, bottom -10rem right 25rem, bottom 1rem right -5rem, center center;
  background-size: auto 62rem, auto 50rem, auto 31rem;

  overflow: hidden;
  border-radius: 3rem;
}

.screen-launch-form__container__left {
  padding: 9rem;
  /* норм работает для меньше 1200 */
  /* padding: 6rem 0 6rem calc((100vw - min(120rem, 80vw))/2); */

  align-items: start;
  justify-content: start;
  width: 100%;
}

.launch-form {
  margin: 7.5rem 0;
}

.screen-launch-form__fields-container {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: start;
  font-size: 1rem;

  gap: 2em;
}

.screen-launch-form__input-label-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: start;
  justify-content: center;
  /* font-size: 1.6rem; */
}

.screen-launch-form__input {
  font-size: 1.8em;

  /* min-width: 280px; */
  width: clamp(270px, 20em, 370px);
  border-radius: 5rem;
  background-color: var(--looton-white);
  padding: 1.25em 1.56em;
  /* padding: 2rem 2.5rem; */
  color: var(--looton-black);
  font-weight: 400;
  border: none;
}

.screen-launch-form__input:focus {
  outline: none;
}

.screen-launch-form__input-label {
  color: rgba(0, 0, 0, 0.70);
  font-size: 1.6em;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.03rem;
}

/* Screen FAQ */

.screen-faq {
  background-color: var(--looton-bgr-grey);
  display: flex;
  /* flex-direction: column;
  gap: 1.5rem; */
}

.faq-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 13rem;
}

.faq-question-answer__header-icon-container {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.faq-question-answer {
  background-color: var(--looton-white);
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  padding: 2.5em;
}

.faq-question-answer:hover {
  box-shadow: 0px 4px 40px 0px #F0EFEF;
}

.faq-question-answer__icon-wrap {
  display: flex;
  cursor: pointer;
  width: 3em;
  height: 3em;
}

.faq-question-answer__icon-wrap img {
  height: 100%;
  width: 100%;
}

.faq-answer {
  font-size: 1.8em;
  display: none;
}

#answer_seller_first, #answer_seller_second, 
#answer_seller_third, #answer_seller_fourth, 
#answer_seller_fifth,
#answer_customer_first, #answer_customer_second, 
#answer_customer_third, #answer_customer_fourth {
  display: none;
}

#answer_seller_first:checked + .faq-answer, 
#answer_seller_second:checked + .faq-answer,
#answer_seller_third:checked + .faq-answer,
#answer_seller_fourth:checked + .faq-answer, 
#answer_seller_fifth:checked + .faq-answer,
#answer_customer_first:checked + .faq-answer,
#answer_customer_second:checked + .faq-answer, 
#answer_customer_third:checked + .faq-answer,
 #answer_customer_fourth:checked + .faq-answer
 {
  display: block;
  animation: fade-in .8s;
}

.card-description_shortened {
  width: 85%;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.faq-question-answer__icon-wrap > .plus-icon {
  transition: transform .3s;
}

.faq-question-answer__header-icon-container:has(+ input[type="checkbox"]:checked) .faq-question-answer__icon-wrap > .plus-icon {
  transform: rotate(45deg);
}

/* Footer */

.looton-footer {
  height: clamp(31rem, 35rem, 40rem);

  background-image: url("public/pictures/white-cube-upturned.png"), 
  url("public/pictures/white-cube.png"), 
  url("public/pictures/white-cube-upturned.png"), linear-gradient(180deg, #40F988 40%, #23F7D1 100%);;
  background-repeat: no-repeat, no-repeat, no-repeat, repeat;
  background-blend-mode: darken;
  background-position: top left, bottom right, right 40% top, center center;
  background-size: auto 60em, auto 30em, auto 31em;

  overflow: hidden;
  border-radius: 3rem 3rem 0 0;
}

.looton-footer, .footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-content {
  padding: 6rem 0;
  gap: 8rem;
  width: 100%;
}

.footer__logo-nav-container, 
.footer__info-payment-methods-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-navigation {
  display: flex;
  gap: 4rem;
}

.footer-navigation__link {
  color: #3f3e3e;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 100%; /* 18px */
  letter-spacing: -0.0198rem;

  text-decoration: none;
}

.footer-navigation__link:hover {
  color: var(--looton-black);
}

.footer__logo-contacts-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.footer-contacts {
  color: #3f3e3e;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 100%; /* 26px */
  letter-spacing: -0.0286rem;
}

.tiny-text {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 100%; /* 14px */
  letter-spacing: -0.0154rem;
}

.web-development-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #3f3e3e;
}

.web-development-link > img {
  height: 1rem;
  width: 1rem;
}

.copyright-web-development-container {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.payment-methods-container {
  display: flex;
  gap: 1.3rem
}

.payment-method-icon-wrapper {
  height: 2rem;
}

.payment-method-icon-wrapper img {
  height: 100%;
}

.hidden, .header__menu {
  display: none;
}

@media screen and (max-width: 1399px) {
  .screen-launch-form__container__left {
    padding: 7rem 0 7rem calc((128rem - 80vw)/2);
  }

  /* .application-screen-container, .application-screen-container_medium {
    width: clamp(280px, 34%, 380px);
  } */
}

@media screen and (max-width: 1260px) {
  .text_large {
    font-size: 5.2rem;
  }

  .text_medium, .page-header {
    font-size: 4.3rem;
  }

  .page-description {
    font-size: 2rem;
  }

  .button_large, .card-title {
    font-size: 2.4rem;
  }

  .button_medium, .page-navigation__item,
  .nav-wrapper, .screen-launch-form__input {
    font-size: 1.4rem;
  }

  .profits-customer-grid, .instructions-grid, 
  .screen-launch-form__input-label-container, .looton-footer {
    font-size: .8rem;
  }

  .card-description {
    font-size: 1.6rem;
  }

  .application-screen-container, .application-screen-container_medium {
    width: clamp(240px, 32%, 340px);
  }

  .main-screen {
    height: 700px;
  }

  .screen-launch-form__container__left {
    padding: 6rem 0 6rem 10vw;
    align-items: center;
    justify-content: center;
  }

  .online-support__chat-container {
    gap: 0px;
  }

  .profit-cards-container {
    gap: 10px;
  }
}

@media screen and (max-width: 1085px) {
  .text_large {
    font-size: 4.6rem;
  }

  .text_medium, .page-header {
    font-size: 3.2rem;
  }

  .page-description {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 1023px) {
  .button_large, .card-title {
    font-size: 2.1rem;
  }

  .screen-content__left-part {
    gap: 60px;
  }

  .online-support__chat-participant {
    font-size: 12px;
  }

  .dialog {
    width: 270px;
  }

  .dialog p {
    width: 90%;
    margin-top: 15px;
  }

  .application-screen-container, .application-screen-container_medium {
    width: clamp(200px, 35%, 360px);
  }

  .card-description {
    font-size: 14px;
  }
}

@media screen and (max-width: 970px) {
  .header__menu {
    display: inline-block;
  }
}

@media screen and (max-width: 480px) {
  .screen {
    padding: 30px 25px;
  }

  .main-screen {
    height: 790px;
    border-radius: 0 0 20px 20px;
  }

  .main-screen .screen-content-wrapper_centred {
    width: 100%;
    gap: 117px;
  }

  .header {
    width: 100%;
  }

  .text_large {
    font-size: 35px;
    margin: 0;
  }

  .page-description {
    font-size: 12px;
  }

  .button_large {
    font-size: 18px;
  }

  .main-screen__content {
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 75px;
    flex-direction: column;
    /* margin-top: 100px; */
  }

  .nav-wrapper, #cta-button-navigation {
    display: none;
  }

  .looton-logo img {
    width: 70px;
  }

  .screen-content__left-part {
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  .screen-content__header-description-container {
    text-align: center;
    gap: 30px;
  }

  .application-screen-container {
    width: 200px;
  }

  .caption-chip, .caption-chip_with-arrow, .caption-chip_white {
    font-size: 10px;
    border: 1px solid var(--looton-black);
  }
}
